// fonts

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=latin-ext');

@import 'fontello.css';

html {font-family: $font; font-size: 17px; line-height: 1.5; color: $color-2; -webkit-text-size-adjust: 100%; text-rendering: optimizeLegibility;}

body {margin: 0px;}

img {max-width: 100%;}

a,
a:hover {text-decoration: none; color: inherit;}

ul {list-style: none; padding-left: 0px;}

.list-style {list-style: disc; padding-left: 20px;}

.ems-hidden {display: none;}

.ems-none {display: none !important}

.box-sizing-none {box-sizing: border-box;}

// align

.text-center {text-align: center;}

.float-left {float: left;}

.float-right {float: right;}

.relative {position: relative;}

.absolute {position: absolute;}

// buttons

a.button,
a.btnDefault,
a.lnkUyeOlmak,
.lnkDefault:not(.lnkSifremiUnuttum) {font-weight: 600; text-align: center; background-color: $color-1; color: $color-3; border-radius: 4px; display: inline-block;

    &.large {font-size: 18px; padding: 12px 56px;}

    &.small {padding: 10px 35px;}

    &.short {padding: 5px 41px;}

    &.border {padding: 10px 45px; border: 1px solid $color-3; background-color: transparent;}

    &.small,
    &.short,
    &.border {font-size: 14px;}

    &.btnFacebookLogin {background-color: $facebook;
    
        @extend .large;
    
    }

}

// flex

.flex {display: flex;}

.flex-wrap {flex-wrap: wrap;}

.flex-center {justify-content: center;}

.flex-between {justify-content: space-between;}

.flex-end {justify-content: flex-end;}

.flex-middle {align-items: center;}

.flex-direction-column {flex-direction: column;}

// container

.ems-container {max-width: 1200px; padding-left: 40px; padding-right: 40px; margin-left: auto; margin-right: auto; box-sizing: content-box;

    &::before,
    &::after {clear: both;}

}

.ems-page-default {padding: 50px 0px 70px 0px;}

// form

input:not([type=radio]):not([type=checkbox]),
select,
textarea,
.sStylerWrp_select {max-width: 100%; width: 100%; border: 0 none; padding: 0 10px; box-sizing: border-box; margin: 0; border-radius: 0; background: $color-3; color: $color-2; border: 1px solid $color-4; transition: 0.2s ease-in-out; transition-property: color,background-color,border; box-shadow: 0px 0px 0px 200px $color-3 inset;}

input:not([type=radio]):not([type=checkbox]),
select {height: 50px;}

textarea {height: 150px; padding-top: 15px; resize: none;}

@mixin checkbox-radius {

    .sStylerWrp_checkbox {width: 22px; margin-right: 15px; display: inline-block;

        .cStyler {position: absolute; width: 20px; height: 20px; border-radius: 50%; background-color: $color-3; border: 1px solid $color-5; cursor: pointer; transition: all 0.2s ease-in;
        
            &.checked {background-color: $color-1; border-color: $color-1;}
        
        }

    }

}

.sStylerWrp_checkbox {width: 18px; margin-right: 8px; display: inline-block; vertical-align: middle;

    .cStyler {position: absolute; width: 18px; height: 18px; background-color: $color-3; border: 1px solid $color-5; cursor: pointer; transition: all 0.2s ease-in;
    
        &.checked {background-color: $color-1; border-color: $color-1;}
    
    }

}

.sStylerMainWrp + *,
.checkbox + *, 
.control-code img ~ * {font-size: 13px;}

@mixin select-box {

    &::after {content: '\e802'; position: absolute; right: 12px; top: calc(50% - 4px); pointer-events: none; color: $color-9;

        @extend .icons;

    }

}

.sStylerWrp_select {display: block; height: 50px; padding: 0px; position: relative;

    .sStylerWrp {pointer-events: none; position: absolute; height: 100%; line-height: 50px; left: 10px;}

    @include select-box;

}

#dvMesajSehirBilgi {

    @include select-box;

}

.ems-form {

    .ems-field:not(.captcha) {
    
        .ems-form-label {font-size: 14px; position: absolute; top: calc(50% - 10px); left: 12px; z-index: 1; transition: all .2s ease-in-out; pointer-events: none;}

        &.is-completed {

            .ems-form-label {font-size: 11px; top: 3px;}

        }

        &.textarea {

            .ems-form-label {top: 10px $i;}

            &.is-active {

                .ems-form-label {font-size: 0px;}

            }

        }

        &.select {

            .ems-form-label {position: static; font-size: 14px $i; margin-bottom: 15px; font-weight: 600;}

        }
    
    }

    .ems-field {margin-bottom: 15px; position: relative;}

}