// content page

.ems-content-page {

    .kutuSolMenuTree {

        .kutuHeaderSolMenuTree {display: none;}

        .sStylerMainWrp {display: none;}

    }

}

// sidebar

.ems-sidebar {width: 280px;

    .sev2 > a {font-size: 18px; font-weight: bold; margin-bottom: 25px; display: inline-block;}

    .sev3 {

        a {font-size: 14px; line-height: 2.14;}

        &.act a {font-weight: bold;}

    }

}

// content

.ems-content {width: calc(100% - 280px); font-size: 15px;

    h2 {margin: 0px; font-size: 18px;}

    p {margin-top: 15px; margin-bottom: 0px;}

    address {margin-top: 15px; margin-bottom: 35px; font-style: normal; color: #888888;}

    iframe {width: 100%; height: 475px; margin-top: 35px;}

}

// error

.errorHolder .text-content-wrp {height: 100vh;

    > span {font-size: 40px; font-weight: bold; padding: 50px 0px;}

    > a {text-transform: uppercase;

        @extend .large;

    }

}


@media screen and (max-width: 960px) {

    .ems-content-page {padding-top: 30px; padding-bottom: 30px;

        .kutuSolMenuTree {

            .sStylerMainWrp {display: block;}

            .kutuBodySolMenuTree {display: none;}

        }

    }

    .ems-sidebar {width: 100%; margin-bottom: 20px;}

    .ems-content {width: 100%;
    
        a {font-size: 15px; padding-left: 20px; padding-right: 20px; width: 100%; box-sizing: border-box;}
    
    }

    // error

    .errorHolder .text-content-wrp {height: 100vh;

        > span {font-size: 16px;}

    }


}