// footer

.main-footer {margin-top: 90px;

    .ems-container {max-width: 850px;}

    ul {list-style: none; padding-left: 0px;}

}

// footer-top

.footer-top {background-color: $color-4;    

    // logo

    .logo {width: 360px;
    
        small {font-size: 17px; color: $color-8; padding-left: 9px; margin-bottom: 22px; align-self: flex-end; line-height: 1.2;}
    
    }

    // social

    .footer-social {min-height: 90px;}

    .social {width: calc(100% - 360px); font-size: 25px;

        ul {padding-left: 0px; margin: 0px; height: 100%;}

    }

    .icon-facebook {color: $facebook;}

    .icon-twitter {color: $twitter;}
    
    .icon-youtube {color: $youtube;}

}

// footer-bottom

.footer-bottom {padding: 25px 0px 35px 0px;

    // menu

    ul li a{font-size: 12px; color: $color-9; font-weight: 600; line-height: 2.5;}

    a {color: $color-8; font-size: 12px; line-height: 2.5; font-weight: bold;}

    .category {

        > ul {column-count: 3; column-gap: 50px;
        
            ul {display: none;}
        
        }

        .icon-right-arrow {display: none;}

    }

}

// footer address

.footer-address {border-top: 1px solid $color-5;

    address {font-size: 12px; color: $color-9; min-height: 88px; max-width: 610px; font-weight: 600; font-style: normal;}  

}

// whatsapp

.ems-whatsapp {position: fixed; z-index: 3; right: 0px; top: 30%;

    .mini-whatsapp {background-color: $color-1; transform: rotate(-90deg); transform-origin: bottom right; transition: left 0.2s linear; color: $color-3; padding: 0px 10px; font-size: 14px; border-radius: 3px; margin-top: -45px;
    
        i {font-size: 30px;
        
            &::before {margin-left: 0px;}
        
        }

        span {transform: translate3d(0, 0, 0);}
    
    }

    .open-whatsapp {width: 245px; right: -245px; top: 0px; padding: 5px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; visibility: hidden; transition: right 0.2s linear; background-color: $color-1;
    
        i {width: 50px; height: 70px; left: -50px; top: 0px; background-color: $color-1; color: $color-3; font-size: 35px; border-top-left-radius: 3px; border-bottom-left-radius: 3px;}

        .open-whatsapp-wrapper {background-color: $color-4;}

        a {height: 120px; padding-left: 30px;}

        h4 {margin: 0px;}

        span {font-size: 15px;}
    
    }

    &:hover {

        .mini-whatsapp {left: -45px; visibility: hidden;}

        .open-whatsapp {right: 0px; visibility: visible;}

    }

} 

@media screen and (max-width: 960px) {

    .ems-whatsapp {position: static; width: 220px; margin: 0px auto;
    
        .mini-whatsapp {transform: rotate(0deg); border-radius: 0px;}

        &:hover {

            .mini-whatsapp {visibility: visible; left: 0px;}

            .open-whatsapp {display: none;}

        }
    
    }

}

@media screen and (max-width: 768px) {

    .main-footer {

        .menu {flex-wrap: wrap; text-align: center;

            ul {display: none;}

            > div {width: 100%; margin-bottom: 30px;
            
                &:last-child {margin-bottom: 0px;}
            
            }

        }

    }

    .footer-top {

        .logo,
        .social {width: 50%;}

        .logo {

            img {width: 70px;}

            small {font-size: 11px; font-weight: normal; align-self: center; padding-left: 2px; margin-bottom: -15px;}

        }
        

        .social {

            ul {
            
                li {padding-left: 15px;}
            
            }

        }

        .footer-social {min-height: 60px;}

    }

    .footer-bottom {padding-bottom: 15px;}

    .footer-address {border-top: 0px;
    
        address {color: $color-2;}
    
    }

}

@media screen and (max-width: 480px) {

    .footer-top {
        
        .social {

            ul {justify-content: flex-end;}

        }

    }

}