.ems-grid-default {

    // cart list
    
    > div {position: relative; display: table; width: 100%; table-layout: fixed;
        
        > div {display: table-cell; position: relative; vertical-align: middle;}
        
        .ems-grid-img {width: 14%; padding-left: 10px; padding-right: 10px;}

        .ems-grid-code {width: 12%;}
        
        .ems-grid-name {width: 30%;
            
            span[id$="lblSCD_AD1"],
            span[id$="lblSCD_AD2"] {font-size:12px;

                &::before {content:'BEDEN:';}

                &:empty {display: none;}
            }

            span[id$="lblSCD_AD1"] {display:inline-block; padding-top:10px;}

        }

        .ems-grid-price {direction: rtl;
        
            .pb1 {

                &::before {font-size: 15px;}

            }
        
        }

        .ems-grid-piece {width: 10%; text-align: center;

            .piece-wrapper {display: inline-block; width: 100%; max-width: 50px; position: relative;
            
                
            
            }

        }

        .ems-grid-price {width: 19%; padding-left: 10px !important;} 

        .ems-grid-price-total {width: 19%; color: $color-10; font-size: 20px; font-weight: bold;}

        .ems-grid-delete {width: 8%; text-align: center;}

    }

    // cart list header

    .ems-grid-header {position: relative; display: none;

        > div {font-size: 12px; padding-bottom: 8px; text-align: center; font-weight: 600; color: $color-9;}

        .ems-grid-img {padding-left: 10px; text-align: left;}
        
        .ems-grid-name {text-align: left;}
        
        &:first-child {display: table;}

    }

    &.ems-grid-favorites {

        .ems-grid-header {

            > div {text-align: center; text-transform: uppercase;}

        }

    }

    // cart list body

    .ems-grid-row {position: relative; border-width: 0px 0px 0px 1px; border-style: solid; border-color: $color-4; min-height: 130px; color: $color-9; font-size: 15px;
       
        > div {border-width: 1px 0px 0px 0px; border-style: solid; border-color: $color-4; padding-top: 15px; padding-bottom: 15px;

            &.ems-grid-delete {

                a {display:inline-block; padding:5px 10px; 
                    
                    span {

                        .icon-ico_close {font-size:12px;
                            
                            &:before {font-size:12px; color:#000;}
                        
                        }

                    }

                }

            }

        }
        
        // last-child-border

        &:last-child {

            > div {border-bottom-width: 1px;}
        
        }

        // row image
        
        .ems-grid-img {

            a,
            img {display: inline-block;}

            [id$="imageHref"] {display: none !important;}

        }

        // row favorites

        .ems-grid-fav {
            width: 36px;
            height: 36px;
            position: absolute;
            left: 10px;
            top: 100px; 
            border-radius: 100%;
            display: none;
            > a {
                display: block;
                width: 100%;
                height: 100%;
                span {
                    display: block;
                    height: 100%;           
                    i {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        font-size: 19px;
                     
                        font-weight: bold;
                        margin-top: -9.5px;
                        margin-left: -9.5px;
                        
                    }
                }
                &.selected {
                    i:before {
                        content:"\e90e";
                        
                    }
                }
            }
            &:hover {
                i {
                    
                }
            }
        }

        .ems-grid-gift-box {
            margin-top: 10px;
            font-size: 12px;
            color: #faae17;
            display: none;
            i {
                position: relative;
                top: 1px;
                margin-right: 5px;
            }
        }

        // row piece

        .ems-grid-piece {

            .piece-wrapper {

                > input {

                    @include piece;

                    text-align: left;

                }
                
                > a {position: absolute; right: 7px; font-size: 8px; color: $color-9;
                
                    &:first-child {top:3px; transform: rotate(180deg);}

                    &:last-child {bottom:3px;}

                    i {vertical-align: middle;
                        
                        &::before{ font-size: 8px; }
                        
                    }

                }

            }

        }

        // row price

        .ems-grid-price {

            @at-root {

                .gridSepetListe_gercekFiyat,
                [id$="lblURN_TOPLAMFIYAT"] {position: relative; display: block; text-decoration: none !important;
                    
                    &:after {
                        display: none;
                        content: "";
                        width: 60%;
                        position: absolute;
                        left: 20%;
                        top: 50%;
                        
                    }
                }
                [id$="lblURN_TOPLAMFIYAT"]:after {
                    width: 80%;
                    left: 30%;
                }
            }
        }

        // row delete

        .ems-grid-delete {

            i {font-size: 12px;}
            
            b {font-weight: normal;}
        
        }

        // row cargo no

        .ems-grid-cargo-no {

            a {

                &:hover {text-decoration: underline;}

            }        

        }

        .satBrFiyat,
        .netFiyat,
        .topFiyat {display: none !important;}

        .satBrFiyatVrg,
        .netFiyatVrg {display: flex $i; justify-content: center; align-items: center;

            .pb1 {order: -1;}
            
            @at-root {

                [id$="lbfSEPET_KDV4"],
                [id$="lbfURN_KDVDAHIL"] {display: none; margin-top: 5px; font-size: 15px; line-height: 1;}

            }

        }

        // row address name

        .ems-address-name {font-size: 14px; font-weight: bold; color: $color-2;
            
            > span {display: block; margin-top: 7px; font-size: 14px;}

            .adresTip2,
            .adresTip1 {display: none;}
        
        }

        .ems-address {padding-top: 5px; font-size: 12px; color: $color-9;} 

        .ems-address-buttons {display: flex; justify-content: center;

            > a {line-height: 40px; padding: 0 10px; font-size: 14px;
                
                span {letter-spacing: inherit;}
                
                i {display: none;}

                @extend .none;

                font-weight: 600;

                &.btnAdresListeGuncelle {margin-right: 40px; color: $color-2;}
                
                &.btnAdresListeSil {color: $color-1;}

            }

        }

    }

    .ems-grid-message {}

}

.ems-grid-favorites,
.ems-grid-follow-price,
.ems-grid-follow-stock {

	.ems-grid-header {

		> div {
		
            &.ems-grid-remove {width:7%;}
            
            &.ems-grid-img {width:12%;}
            
            &.ems-grid-code {width:12%;}
            
            &.ems-grid-report {width: 12%;}

            &.ems-grid-piece {width:12%;}

            &.ems-grid-price {width:12%;}
            
            &.ems-grid-date {width:15%;}
		
        }
        
    }
    
	 .ems-grid-row {

        > div {padding: 10px; vertical-align: middle; border-left: 1px solid $color-4;
            
            &.ems-grid-remove {width: 7%;}
            
            &.ems-grid-img {width: 12%;}

            &.ems-grid-code {width: 12%;}

            &.ems-grid-report {width: 12%;}

            &.ems-grid-piece {width: 12%;}

            &.ems-grid-price {width: 12%;}

            &.ems-grid-date {width: 15%;}

            &:first-child {border-left: none;}

        }
        
     }
     
}

.ems-grid-cart {

    .ems-grid-row {

        > div {border-left: none; border-right: none;}

    }

}

.ems-grid-address {

    .ems-grid-row {border-width: 1px; border-top-width: 0px;

        > div {border: none;}

        &:first-child {border-top-width: 1px;}

    }

}

.ems-grid-follow-price {

    .ems-grid-row {border-right-width: 1px;}

}

.ems-grid-favorites {

    .ems-grid-row {border-right-width: 1px;}

}

.ems-grid-message {

    .ems-grid-row {min-height: 60px;

        > div {border-width: 1px 1px 0px 0px; padding: 15px;}

    }

}

.ems-grid-favorites,
.ems-grid-refund,
.ems-page-member-follow-list .ems-grid-default,
.ems-grid-order,
.ems-grid-order-products,
.ems-grid-message {

    > div > div {text-align: center;}

}

.ems-grid-favorites,
.ems-grid-refund,
.ems-page-member-follow-list .ems-grid-default,
.ems-grid-order-products {

    .ems-grid-row > div {

        &.ems-grid-img img {width: 90px; margin: 0 auto;}

    }

}

.ems-grid-favorites {

    .ems-grid-row {

        .ems-grid-piece {

            > a {left: 60%; 

                &:first-child {top: 40px;}

                &:last-child {top: 20px;}

            }

        }
        
    }

}

.ems-grid-cart {
    
    .ems-grid-row {

        .ems-grid-name {font-size: 14px; color: $color-9; padding-left:10px; padding-right: 10px; font-weight: 600; text-transform: uppercase;
           
            > br {display: none;}
            
            > a {overflow: hidden; display: block;}

            [id$="lblProm"] ul {display: table; padding: 5px 0; font-size: 12px; 
               
                &:empty {display: none;}
                
                .prom_indtutar {display:none;}
            }

            .ems-grid-code {display: none;}
        }

        .ems-grid-img {

            img {width: 120px; max-width: 120px;}

        }

        .ems-grid-price {
            
            > span {font-size: 15px; text-align: center;

                .brFiyat {display:none !important;}

            }

            .brutFiyat {display:none !important;}

            .brutFiyatVrg {display:block !important; text-decoration: line-through;}

        }

    }

}

.gridSepetStok {
    margin: 30px 0 50px 0;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    th {
        text-align: center;
        padding: 10px 5px;
       
      
        font-size: 12px;
        font-weight: normal;
        &:nth-child(2) {
            display: none;
        }
    }
    td {
        text-align: center;
        padding: 10px 5px;
        border-width: 1px 0px 1px 0px;
        border-style: solid;
     
        font-size: 14px;
     
        &:first-child{
            border-left-width: 1px;
        }
        &:last-child{
            border-right-width: 1px;
        }
    }
}

.ems-grid-address {margin-bottom: 20px;

    .ems-grid-row {

        > div {padding: 0px 20px;}

        .col-1 {width: 45%;}

        .col-2 {width: 30%; padding-left: 0; padding-right: 10px;}

        .col-3 {width: 25%; border-left-width: 1px; text-align: left; padding-left: 20px; padding-right: 10px;
            
            > a.btnDefault {width: 100%; font-size: 12px; background: none; padding: 10px 0px; text-align: left; text-transform: inherit; color: $color-9;
                
                i {margin-right: 10px; margin-top: -2px; padding: 1px; width: 12px; height: 12px; border: 1px solid; display: inline-block; vertical-align: middle; border-radius: 100%; background-color: $color-3;
                    
                    b {font-weight: normal; opacity: 0; width: 12px; height: 12px; border-radius: 100%; display: inline-block;}
                
                }

                span {font-size:12px; letter-spacing:inherit;}
                
                &.emos_selected {

                    i {background-color: $color-1; border-color: $color-1;
                       
                        b {}

                    }

                    span {color: $color-1;}

                }       

            }

        }

    }

}

.ems-grid-message {

    .ems-grid-row > div {

        a {display: block !important;}

        a.emos_invisible {display: none !important;}

        &.ems-grid-icon {

            a.emos_invisible {padding-right: 40px;}

            img {position: absolute; right: 30px; top: 7px;}
        
        }
    
    }
    
    .ems-grid-row.newMessage {
        > div {
            &.ems-grid-icon {
                img {
                    top: 14px;
                }
            }
        }
    }
}

.tableSifremiUnuttum {
    table-layout: fixed;
    max-width: 600px;
    width: 100%;
    th, [id$="lbfUYE_KONTROLKODU"] {
       
        font-size: 14px;
    }
    th {
        width: 23%;
        text-align: left;
    }
    td {
        input {
            width: 100%;
        }
        a.btnUyeSifreGonder {
            display: block;
            margin-top: 10px;
            @extend .large;
        }
        &.tableSifremiUnuttum_tdCaptchaImage1 { 
            padding: 10px 0;
        }
    }
}

.ems-grid-order-products {

    .ems-grid-row .ems-grid-price-total {text-align: center;}

}

@media screen and (max-width: 1100px) {
    
    
}

@media screen and (max-width: 960px) {
    
    .tableSifremiUnuttum {max-width: 100%; width: 100%;
    
        th,
        td {display: block; padding: 5px 0px;}

        th {width: 100%;}
    
    }

    .pageLogin_btnUyeSifreGonder {

        table {width: 100%; display: table $i;} 

    }

    .ems-grid-cart .ems-grid-row .ems-grid-img img {width: 80px; max-width: 80px;}

    .ems-grid-default .ems-grid-row {min-height: 146px;}
    
}

@media screen and (max-width: 768px) {

    .ems-grid-address {

        .ems-grid-row {min-height: 150px; padding-top: 15px; display: flex; flex-direction: column; justify-content: space-around; margin-bottom: 15px;

            .col-1,
            .col-2 {width: 100%; display: block; padding-left: 10px; box-sizing: border-box;}

            .col-3 {width: 100%; padding-left: 10px;}

            .ems-address-buttons {justify-content: flex-start;
            
                a {padding: 0px;}
            
            }

            &:not(:first-child) {border-top-width: 1px;}

        }

    }

}