// header-top

.header-top {background-color: $color-1;

    .logo,
    .nav {height: 83px;}

    .logo {flex-basis: 280px;}

    .nav {flex-basis: calc(100% - 510px);}

}

// menu

.main-menu {

    ul {list-style: none; margin: 0px; padding: 0px;
    
        li {

            a {padding: 0px 10px; color: $color-3; font-size: 14px; text-decoration: none; font-weight: 600;}

            &:first-child a {padding-left: 0px;}

        }
    
    }

}

// member

.member {position: absolute; right: 0px; top: -83px; height: 83px; width: 275px; transition: top 0.3s ease; transition-delay: 0s; 

    .icon-basket,
    .icon-user {

        &::before {margin-right: 8px; font-size: 26px; margin-left: 0px;}

    }

    .ems-cart-basket,
    .sub {

        > span {color: $color-3; font-size: 14px;}

    }

    // login

    #validateLogin {margin-right: 30px; width: 50%;

        .mod-mini-login {padding: 12px; position: relative;

            .mod-mini-login-header {

                > span {font-size: 14px;}

            }

            .mod-mini-login-body {
        
                .ems-form {opacity: 0; visibility: hidden; position: absolute; background-color: $color-3; z-index: 2; width: 290px; left: 0px; top: 52px; padding: 15px; border-radius: 3px; border-top-left-radius: 0px;}
            
                .sub.login {position: absolute; top: 51px; left: 0; width: 290px; min-width: 170px; background: $color-3; z-index: 10; padding: 10px 15px; transition: all .2s ease; opacity: 0; visibility: hidden; overflow: hidden; border-radius: 3px; border-top-left-radius: 0px;
                
                    > * {line-height: 2;}

                    .btnKutuLogout {

                        @extend .none;

                    }
                
                }

            }

            [id$='lblUYE_ADSOYAD'] {display: none;}

            [id$='lbfUYE_SAYIN'] {display: flex; align-items: flex-end; color: $color-3;

                i {order: -1;

                        &::before {content: '\e801'; font-size: 26px;

                            @extend .icons;

                        }

                }

            }

            &.opened {background-color: $color-3; border-top-left-radius: 3px; border-top-right-radius: 3px;

                .mod-mini-login-body {

                    .ems-form {opacity: 1; visibility: visible;}

                    .sub {
                    
                        > span * {color: $color-2;}
                    
                    }

                }

                .sub.login {visibility: visible; opacity: 1;}

                [id$='lbfUYE_SAYIN'] {color: $color-2;}

            }

        }

        .mod-mini-login-signin {display: none;}

        .submit .btnKutuLogin {display: block;

            @extend .large;

        }

        @include checkbox-radius;

        .forget {position: absolute; right: 12px; top: -47px; font-size: 12px; text-decoration: underline; text-decoration-skip: ink; -moz-text-decoration-color: $color-9; font-weight: 600; color: $color-9;}

        .btn-signin {display: none;}

        .ems-form .ems-field .ems-form-label {color: $color-9; font-weight: 600;} 

        .remember {color: $color-9;}

        .lnkUyeOlmak {display: block;

            @extend .large;

        }

    }

    // cart

    .mod-mini-cart {position: relative; width: 50%;

        .mod-mini-cart-header {padding: 12px;}

        .mod-mini-cart-body {width: 380px; background: $color-3; position: absolute; right: 0; z-index: 5; opacity: 0; visibility: hidden;}

        &.opened {

            .mod-mini-cart-header {background-color: $color-3; border-top-left-radius: 3px; border-top-right-radius: 3px;
            
                * {color: $color-2;}
            
            }

            .mod-mini-cart-body {opacity: 1; visibility: visible; width: 371px; border-radius: 3px; border-top-right-radius: 0px; overflow: hidden;}

            .mini-cart-content {padding: 22px 18px;}

        }

        .ems-cart-piece {position: absolute; left: 0px; top: 0px; font-size: 11px; width: 26px; height: 26px; text-align: center; line-height: 31px; color: $color-3;}
    
        .ems-col {display: flex; flex-wrap: wrap; margin-bottom: 20px;
        
            .cart-prd-left {width: 130px; display: flex; justify-content: space-between; align-items: center; padding-right: 20px; box-sizing: border-box;
            
                .cart-prd-image {width: 70px;}

                .icon-ico_quit {font-size: 0px;

                    &::before {content: '\e80c'; font-size: 13px; color: $color-9;

                        @extend .icons;

                    }
                
                }
            
            }
            
            .cart-prd-right {width: calc(100% - 130px);

                .cart-prd-name {font-size: 13px; font-weight: 600; color: $color-9; text-transform: uppercase;

                    > b {display: none;}

                }
            
                .cart-prd-quantity {display: none;}

                .cart-prd-price {font-size: 14px; color: $color-10; font-weight: bold; line-height: 1; margin-top: 10px;}

                .pb1 {float: left;
                
                    &::before {font-size: 14px;}
                
                }
            
            }
        
        }

        .mini-basket-price,
        .mini-basket-link {background-color: #FAF8F7; padding: 15px;}

        .mini-basket-price {display: flex; justify-content: space-between; align-items: center; color: $color-10; font-weight: bold; font-size: 20px;
        
            #lblUrunTutari {line-height: 1;}

            .pb1 {float: left;}
        
        }

        .mini-basket-link {padding-top: 0px;}

        .lnkSepet {display: block;

            @extend .large;

        }

    }

    .ems-cart-info {position: relative;}

}

.ems-logoff {

    .sub.login {display: none;}

}

.ems-login {

    .sub.logoff {display: none;}

}

// header bottom

.header-bottom {background-color: $color-2; position: relative;

    .category {position: relative; max-width: 250px; margin-right: 30px;}

    .search {min-height: 84px;}

    .category,
    .search {flex-grow: 1;}

}

// category

.header-category {background-color: $color-3; position: absolute; top: 17px; left: 0px; width: 100%; z-index: 9;

    // title

    .title {height: 67px; padding: 20px; box-sizing: border-box; font-size: 15px; font-weight: 600; color: $color-6;
    
        &::before {font-size: 26px; margin-right: 20px;}

        span {width: 100%;}

        i {font-size: 8px;} 
    
    }

    // list

    .list {border-left: 1px solid $color-4; border-right: 1px solid $color-4; position: relative; display: none;

        .list-title {background-color: $color-1; height: 70px; align-items: center; justify-content: center; color: $color-3;
        
            h2 {margin: 0px; text-align: center; font-size: 20px; font-weight: 600;}

            i {left: 20px; cursor: pointer;}
        
        }

        ul {list-style: none; margin: 0px;
        
            li {border-bottom: 1px solid $color-4;

                a {font-size: 15px; font-weight: 600; color: #9B9B9B; padding: 15px 15px; display: flex; align-items: center; justify-content: space-between;
                
                    i {display: none;}
                
                }

                &:first-child {border-top: 1px solid $color-4;}

            }
        
        }

        nav > ul {padding: 0px;
        
            > li {

                > a i {font-size: 11px;}

                > ul {display: none;}

                &:hover {

                    > ul {visibility: visible; opacity: 1;}

                }

            }
        
        }

    }

}

.ems-page-home .header-category.activeted .list,
.header-category.opened .list{display: block;}

// search

.mod-mini-search-header,
.mod-mini-search-footer {display: none;}

.mod-mini-search {font-size: 0px; width: 100%; transition: width 0.3s ease; transition-delay: 0.1s;

    .icon-search {font-size: 20px; left: 11px; transform: translateY(-50%); top: 50%; color: $color-9; z-index: 2;}

    input[type=text] {padding-left: 40px;}

    .ems-field {margin-bottom: 0px;}

}

// header animation

.sticky-header-ready {

    .mod-mini-search {width: calc(100% - 345px); transition-delay: 0s;}

    .member {top: 0px; transition-delay: 0.1s;}

}

.sticky-header-animate {padding-top: 84px;

    .header-bottom {position: fixed; top: 0px; left: 0px; width: 100%; z-index: 2;}

}

.search-focused {



}

@media screen and (max-width: 960px) {

    .header-top .nav {display: none;}

    .header-top .logo {display: block; flex-basis: 100%;}

    .header-logo {flex: 1; text-align: center;

        a {display: inline-block; width: 100px;}

    }

    .header-top .logo,
    .header-top .nav {height: 70px;}

    .member {display: none;

        .ems-cart-basket span[id$='lbfKUTU_SEPET'] span {display: none;}

        .mod-mini-cart {text-align: right;
        
            .ems-cart-piece {left: auto; right: 0px; width: 42px;}
        
        }

    }

    .header-bottom .category {position: absolute; left: 0px; top: -90px;}

    .ems-page-home .header-category.activeted .list {display: none;}

    .header-category .list {display: block;}

    .header-category {

        .title {color: $color-3; display: none;

            span {display: none;}

        }

        .list {position: fixed; border: none;  visibility: hidden; left: -100%; top: 0px; width: 100%; height: 100vh; background-color: $color-3; z-index: 6; transition: left 0.1s ease-in;
        
            ul {

                li {

                    a {padding: 15px 20px;}

                }

            }
        
        }

        .list-title {display: flex;}

        .list-login {display: flex; align-items: center; height: 50px; background-color: $color-2; color: $color-3; padding: 0px 20px;
        
            a {font-size: 14px; font-weight: 600;
            
                i {font-size: 22px; margin-right: 5px;
                
                    &::before {margin-left: 0px;}
                
                }

            }
        
        }

    }

    .ems-login {

        .login-true {display: block;}

    }

    .ems-logoff {

        .login-false {display: block;}

    }

    .header-logo-wrapper {height: 70px; display: flex; justify-content: space-between; align-items: center;}

    .mbHeader,
    .mbCart {display: block; color: $color-3; flex: 1;}

    .mbHeader {font-size: 25px;
    
        .mbBack {display: none;
        
            i::before {margin: 0px;}
        
        }
    
    }

    .mbCart {text-align: right;

        a {font-size: 27px;}

        b {left: 0px; top: 3px; width: 100%; height: 100%; font-size: 13px; font-weight: normal; display: flex; align-items: center; justify-content: center;}

    }

    .header-bottom .search {min-height: 70px;
    
        input {height: 30px;}
    
    }

    .mod-mini-search .icon-search {font-size: 15px;}

    // animation

    .sticky-header-animate {padding-top: 70px;

        .header-bottom {position: static;}

        .header-top {position: fixed; z-index: 5; width: 100%; top: 0px; left: 0px;}

    }

    .sticky-header-ready {

        .mod-mini-search {width: 100%;}

        .member {top: -75px;}

    }

    .mobi-menu-ready {

        .header-category.activeted .list {display: block;}

    }

    .mobi-menu-animate {height: 100vh; overflow: hidden;

        .header-category .list {left: 0%; visibility: visible;}

    }

}