.ems-page-member-login {max-width: 740px; margin: 0px auto;

    .ems-message-wrapper {width: 100%;}

    .ems-login,
    .ems-signup {width: 320px;}

    .ems-login-header,
    .ems-signup-header {font-size: 18px; font-weight: bold; margin-bottom: 15px;}

    .ems-login-tab,
    .ems-signup-tab {display: none;}

    .btnLogin {display: block;

        @extend .large;

    }

    .ems-form-password-forget {right: 15px; top: calc(50% - 10px); font-size: 12px; text-decoration: underline;}

    // login

    .ems-login {

        @include checkbox-radius;

        .enter-link,
        .guestCheckout {display: none;}

        .kutuUyeGirisFacebookConnect {

            table, tbody, tr, th {display: block $i;}

        }

        .btnFacebookLogin {display: block;}

    }

    // register

    .ems-signup {

        .enter-link {display: none;}

        .mobile-phone {

            .ems-form-obj {

                input {

                    &:first-child {width: 110px $i; margin-right: 15px;}

                    &:last-child {width: calc(100% - 125px) $i;}

                }

            }

        }

    }

    .btnYeniUyeKaydet {display: block;

        @extend .large;

    }    

}

@media screen and (max-width: 960px) {

    .ems-page-member-login .ems-login,
    .ems-page-member-login .ems-signup {width: 100%;}

}