.page-member {

    .row-1 {width: 280px; display: none;}

    .row-2 {width: calc(100% - 280px);}

    div[id$="pnlBilgiGuncelle"],
    .tableUyeBilgi_aciklama {display: none;}

    // menu

    .member-menu-selecbox {display: none;}

    .member-menu {

        .mobile-title {display: none;}

        > h4 {font-size: 18px; font-weight: bold; margin-top: 0px; margin-bottom: 20px;}

        > ul {visibility: visible; opacity: 1; position: static; width: auto; border: none; padding: 0px; margin: 0px;
        
            li {

                a {font-size: 14px; line-height: 2;}

                .lvl2 {display: none;
                
                    h4 {display: none;}
                
                }

                &.selected {

                    > a {font-weight: bold;}

                    .lvl2 {display: block; padding-left: 20px;}

                }

            }
        
        }

    }

    // content

    #validateUye {max-width: 320px; padding-left: 160px;}

    .page-top-title {text-align: center; margin-bottom: 15px; font-size: 18px; font-weight: bold;}

    .page-top-desc {display: block; font-size: 15px; color: $color-9; margin-bottom: 40px;}

    .mobile-phone {

        .cepTelAlan {width: 110px $i; margin-right: 15px;}

        .cepTelNo {width: calc(100% - 125px) $i;}

    }

    div[id$='plhUyelikBultenChk1'],
    div[id$='plhUyelikSmsChk1'] {display: flex; align-items: center;}

    .btnUyeBilgi {display: block;

        @extend .large;

    }

}

// address

.ems-page-member-address {

    .page-top-title {text-align: left;}

    .ems-address-form {display: flex; flex-direction: column-reverse;}

    .add-new-address {margin-bottom: 10px;

        a {font-size: 14px; color: $color-2; font-weight: 600;

            @extend .none;

            &::before {content: '\e813'; margin-right: 10px;

                @extend .icons;

            }

        }

    }

    .col-3 {display: none;}

}

// new address

.new-address {

    .page-member {

        .row-1 {display: none;}

        .row-2 {width: 100%;}

        .ems-page-member-address {

            > .page-top-title {display: none;}

        }

    }

}

body:not(.new-address) {

    .page-member {

        .row-1 {display: block;}
    
    }

}

.ems-page-new-address {

    .page-top-title {text-align: center; position: relative;
    
        .btnAdresIptal {position: absolute; left: 0px; font-size: 12px;

            @extend .none;

            color: $color-2; font-weight: bold;

            i {font-size: 20px; margin-right: 10px;}

            span {display: flex; align-items: center;}

        }
    
    }

    .ems-form {display: flex; justify-content: center;
        
        .ems-form-inner {width: 100%; max-width: 320px;}

        .tcCheck {display: flex; flex-direction: row-reverse; justify-content: flex-end; align-items: center;
        
            .ems-form-label {position: static;}

        }

        textarea {height: 90px;}

        .btnAdresKaydet {display: block;

            @extend .large;

        }

        .sStylerWrp_select {font-size: 14px;}
    
    }

    .adresTip {

       .ems-form-obj {display: flex; align-items: center; justify-content: space-around;
    
            a {color: $color-9; font-weight: bold;
            
                &.emos_selected {color: $color-2;}
            
            }
    
        } 

    }

    &.lnkAdrTip_1 {

        .tcCheck {display: none;}

    }

    .pageErrorAdresListe {text-align: center; margin: 20px 0px; font-size: 14px;}

}

// order list

.ems-page-member-order {

    .page-top-title {text-align: left;}

    .page-top-desc {font-size: 12px;}

    .order-filter {display: flex; margin-bottom: 30px;
    
        .sStylerWrp_select {width: 320px; margin-right: 20px; color: $color-9; font-size: 14px;}

        .btnSipAra {

            @extend .large;

            padding: 14px 27px; border-radius: 0px; background-color: $color-5; font-size: 14px;

        }
    
    }

    .ems-grid-row {min-height: 60px;

        > div {border-width: 1px 1px 0px 0px; font-size: 15px; color: $color-9; padding-left: 12px; padding-right: 12px;}

        .ems-grid-detail {font-size: 20px;

            .btnSiparisDetay {

                @extend .none;

            }

        }

    }

}

// order detail

.ems-page-member-order-detail {

    .page-top-title {text-align: left;}

    .inner-title {margin: 50px 0px; font-size: 15px; color: $color-9;}

    .bottom-step {

        .btnSipariseDon {

            @extend .large;

        }

    }

}

.order-detail-info {margin-bottom: 65px; line-height: 1.6;

    > div {flex-basis: 360px; font-size: 15px;
    
        > div {

            > div {

                &:first-child {width: 60%;}
            
                &:last-child {color: $color-9; width: 40%;}
            
            }

        }

    }

}

.order-address-delivery-wrapper {

    > div {width: calc(50% - 8px); border: 1px solid $color-4; padding: 24px; box-sizing: border-box; text-transform: uppercase;
    
        .text {font-size: 14px; font-weight: bold; margin-bottom: 5px;}

        .value {font-size: 12px; color: $color-9; font-weight: 600;}
    
    }

}

.ems-grid-order-products {

    .ems-grid-header .ems-grid-name {text-align: center;}

    .ems-grid-header > div {text-transform: uppercase;}

    .ems-grid-row > div {border-width: 1px 1px 0px 0px; font-size: 15px; padding: 15px 9px;}

    .ems-grid-row > div:not(.ems-grid-price-total) {color: $color-9;}

}

.order-detail-info-payment {border: 1px solid $color-4; margin-top: -1px; min-width: 340px; float: right; padding: 20px 40px;

    > div {font-size: 14px; 

        > div {font-weight: 600;

            &:first-child {width: 60%;}

            &:last-child {width: 40%;}

        }

        &.total {font-size: 16px; margin-top: 30px; text-transform: uppercase;}

    }

}

// favorites

.ems-page-member-favorites {

    .page-top-title {text-align: left;}

    .page-top-desc {

        > span {display: block; margin-bottom: 40px;}

        a {

            @extend .large;

            border-radius: 0px;

        }

    }

    .btnFavoriListeSil {

        @extend .none;

    }

}

// follow list

.ems-page-member-follow-list {

    .page-top-title {text-align: left;}

    .inner-title {font-size: 15px; font-weight: 600; margin-top: 20px; margin-bottom: 40px;}

    .btnTakipListeFiySil {

        @extend .none;

    }

    .ems-message {font-size: 15px; color: $color-9;}

}

// message

.ems-page-member-message {

    .ems-grid-default .ems-grid-row > div {}

}

// message detail

.ems-page-member-message-detail {font-size: 14px;

    .btnMesajKonuYeniGonder,
    .btnMesajCozuldu {

        @extend .small;

    }

    .btnMesajKonuYeniGonder {margin-right: 20px;}

    ul {margin: 0px;}

    ul.ems-message-type {width: 100%; position: relative; border: 1px solid $color-4; margin-top: 20px; display: inline-block;
    
        li {display: table; width: 100%; border-bottom: 1px solid $color-4;
        
            span {padding: 15px; border-right: 1px solid $color-4; display: table-cell;
            
                &:first-child {width: 20%;}

                &:last-child {border-right: 0;}
            
            }


            &:last-child {border-bottom: 0;}
        
        }
    
    }

}

.ems-message-detail-form .msgDtList {margin-bottom: 20px;

    .msgDtHeader ul {display: table; width: 100%;
    
        li {display: table-cell; width: 50%;
        
            span {font-size: 12px; color: $color-9; padding: 5px; text-align: left; text-transform: uppercase; display: block;}
        
        } 
    
    }

    .msgDtContent {width: 100%; position: relative; border: 1px solid $color-4; display: inline-block;
    
        ul {display: table; width: 100%;
        
            li {width: 50%; padding: 15px; border-right: 1px solid $color-4; display: table-cell;
            
                &:last-child {border: 0;}
            
            }
        
        }
    
    }

}

// password change

.ems-page-member-password {max-width: 280px;

    .btnSifreGuncelle {display: block;

        @extend .large;

    }

}

@media screen and (max-width: 960px) {

    .page-member {padding-top: 20px; padding-bottom: 0px;

        .row-1 {width: 100%;}

        .row-2 {width: 100%; margin-top: 25px;}

        .member-menu.dropdown {display: none;}

        .member-menu-selecbox {display: block; font-weight: bold;}

        #validateUye {max-width: 100%; padding-left: 0px;}

    }

    .order-detail-info {margin-bottom: 50px;

        > div {flex-grow: 1; line-height: 2.2;}

    }

    .order-address-delivery-wrapper {flex-wrap: wrap;
    
        > div {border: none; padding: 0px; width: 100%;

            .text {margin: 15px 0px;}
    
            .value {border: 1px solid $color-4; padding: 34px 20px;}
        
        }
    
    }

    .ems-grid-order-products,
    .ems-grid-favorites,
    .ems-grid-follow-price,
    .ems-grid-message {display: flex; flex-wrap: wrap; 

        > div {width: calc(50% - 1px); display: flex $i; flex-wrap: wrap; flex-direction: column; margin-bottom: 50px;
        
            > div {display: flex; align-items: center; width: 100% $i; text-align: left $i; padding: 10px $i; box-sizing: border-box; min-height: 60px; flex: 1;}
        
            .ems-grid-img {height: 120px;}

            &:last-child,
            &:nth-last-child(2) {margin-bottom: 0px;}
        
        }

        .ems-grid-header {

            > div {border-width: 1px 0px 0px 1px; border-style: solid; border-color: $color-4;
            
                &:last-child {border-bottom-width: 1px;}
            
            }

        }

        .ems-grid-row {

            &:last-child > div {border-bottom-width: 0px;}

            > div {border-width: 1px 1px 0px 0px;
            
                &:last-child {border-bottom-width: 1px;}
            
            }

        }

    }

    .ems-grid-favorites {

        .ems-grid-header,
        .ems-grid-row {margin-bottom: 50px;}

    }

    .order-detail-info-payment {width: 100%; padding: 0px; border: none; margin-top: 20px;
    
        > div > div {line-height: 2;

            &:last-child {text-align: right;}

        }
    
    }

    .ems-page-member-order-detail {

        .bottom-step {width: 100%; margin-top: 50px; justify-content: center;}

    }

    .ems-grid-default {

        > div {

            .ems-grid-price {direction: ltr;}

        }

    }

}

@media screen and (max-width: 768px) {

    .ems-page-member-order {

        .ems-grid-order {display: flex; flex-wrap: wrap;
        
            .ems-grid-header,
            .ems-grid-row {width: calc(50% - 1px); display: flex $i; flex-wrap: wrap; margin-bottom: 45px;
            
                > div {display: flex; width: 100%; height: 60px; align-items: center; box-sizing: border-box;
                    
                    &:last-child {border-bottom-width: 1px;}
                
                }
            
            }

            .ems-grid-header {

                > div {border-width: 1px 0px 0px 1px; border-style: solid; border-color: $color-4; padding: 15px 12px; font-size: 15px;}

            }

            .ems-grid-row {

                &:last-child {

                    > div {border-bottom-width: 0px;
                    
                        &:last-child {border-bottom-width: 1px;}
                    
                    }

                }

            }
        
        }

        .order-filter {flex-wrap: wrap;

            .sStylerWrp_select {width: 100%; margin-right: 0px; margin-bottom: 30px;}

            .btnSipAra {width: 100%;}

        }

    }

}