.ems-page-message {

    .pageHeaderMesaj {display: none;}

    .geneltelefon {width: 100% $i;}

    .ems-form {max-width: 400px;}

    .btnMesajGonder {

        @extend .button;
        @extend .large;

    }

}

@media screen and (max-width: 960px) {

    .ems-page-message {

        .ems-form {max-width: 100%;}

        textarea {width: 100% $i;}

        .btnMesajGonder {width: 100%; box-sizing: border-box;}

    }

}