.page-detail {

    .detail-content {width: calc(100% - 391px); border-right: 1px solid $color-4;} 

    .detail-bundle {width: 390px;}

    .navigasyon {margin-top: 20px; margin-bottom: 40px; font-size: 13px; color: $color-9;
    
        a {

            &::before {content: '>'; margin: 0px 5px; display: inline-flex; align-items: center;} 

            &:first-child {

                &::before {display: none;}

            }

        }
    
    }

    .presentation {display: none;}

    .system-widget {

        .swiper-button-prev,
        .swiper-button-next {display: none;}

        .swiper-pagination {display: none;}

    }

}

.ems-prd-detail-inner {

    .inner-row-1 {width: 420px;}

    .inner-row-2 {width: calc(100% - 420px); padding-left: 12px; box-sizing: border-box;}

    .inner-row-3 {width: 100%; border-top: 1px solid $color-4; margin-top: 20px; margin-bottom: 70px; padding-right: 30px;}

}

// slider

.urunDetay {

    .swiper-left-column {width: 50px; position: absolute; z-index: 2; left: 20px; top: 34px;}
    
    .swiper-wrapper {margin: 0px;

        &.thumb-wrp {

            .swiper-slide {height: 50px !important; margin-bottom: 5px; border: 2px solid transparent;

                a {display: flex; align-items: center; justify-content: center; height: 50px; width: 50px; background-color: $color-3;}

                &.selected {border-color: $color-1;

                    a {}

                }

            }
        
        }
    
    }

    .swiper-pagination {display: none;}

    .inner-row-2 {

        .ems-prd-dtlCode-code {font-size: 12px; color: $color-9;}

        .ems-prd-name {color: $color-9; font-size: 18px; line-height: 1.5; text-transform: uppercase; margin-bottom: 20px;}

        .ems-prd-discount-rate {display: none;}

        .ems-prd-price {

            .pb1 {order: -1;}

        }

        .ems-prd-price-selling {font-size: 36px; line-height: 0.9; color: $color-10; font-weight: bold;
        
            .urunDetay_satisFiyat {display: flex; align-items: flex-end;} 
        
        }

        .ems-prd-price-first {display: flex; align-items: flex-end; font-size: 25px; font-weight: bold; color: $color-9; line-height: 0.9;}

        .ems-prd-price-first:not(:empty) + .ems-prd-price-selling {font-size: 25px;}

        .pnlSepetGrup {display: flex; margin-top: 20px; margin-bottom: 20px;}

        .urunDetay_btnSepeteAt {font-size: 0px; margin-left: 10px;}

        .ems-prd-price-taksit {margin-top: 20px; display: block; font-size: 14px;

            .lnkTaksitSecenek {text-decoration: underline;

                @extend .none;

            }

        }

        a.btnsepeteAt {

            @extend .large;

        }

        .btnFavoriEkle {font-size: 14px; display: flex;

            span {text-decoration: underline;}

            i {margin-right: 5px; font-size: 18px;}

            @extend .none;

        }

    }

}

.urunDetay_urunAdet {

    input.plugins-active {display: none;}

    [id$='lblURN_ADET'] {display: none;}

} 

.dropdown.plugins-active {

    > span {border: 1px solid $color-5; display: inline-flex; justify-content: space-around; align-items: center; border-radius: 3px; width: 100px; height: 50px; font-size: 14px;
    
        i::after {content: '\e802'; font-size: 7px; display: flex; color: $color-9;

            @extend .icons;

        }

    }

    > ul {visibility: hidden; opacity: 0; transition: opacity 0.3s ease; position: absolute; background-color: $color-3; width: 200px; margin-top: 2px; border-radius: 3px; border: 1px solid $color-5; padding: 10px;}

    &.opened {

        > ul {visibility: visible; opacity: 1;}

    }

}

// tab

.detail-content  {

    .tableUrunDokuman {display: none;}

}

.ems-tab-inner {

    > ul {margin: 0px;}

}

.prd-info-tab {margin-top: 40px;

    iframe {width: 100%; height: 400px;}

    h3 {font-size: 18px; font-weight: 600;}
    
    p {}

    .download {background-color: $color-4; text-transform: uppercase; font-weight: 600;
    
        a {padding: 13px 25px 13px 10px;}
    
    } 
     
}

// installment

.popupTaksit {padding: 15px 20px;

    .popupTitleTaksit {text-align: left; font-size: 20px; font-weight: 600;}

    .popupTaksit_lbfAciklama {margin-top: 33px; margin-bottom:  19px; font-size: 15px; color: $color-9; text-align: left;} 

    .gridTaksitBanka {font-size: 12px; font-weight: 600;

        th {padding: 11px;}

        .gridTaksitSecenek td {padding: 5px;}

        > tbody {display: flex; flex-wrap: wrap;
        
            tr {width: 100%;}
        
        }

        .gridRowTaksitBanka {display: block; padding: 0px;}

        .gridTaksitSecenek {

            td,
            th {border: 1px solid $color-4; text-align: center;}

        }

        .taksit_banka {display: flex; flex-direction: row-reverse; justify-content: space-between; align-items: center; border: 1px solid $color-4; padding: 15px 10px; font-weight: bold;}

    } 

}

// content

.product-table {margin-top: 30px; border: 1px solid $color-4; color: #757575; 

    > div {padding: 10px 24px;

        > div {width: 50%;}

        &:nth-child(odd) {background-color: $color-4;}

    }

    .title {font-size: 12px; color: $color-2; font-weight: 600;}

}

.product-text {

    h3,
    p {margin: 15px 0px; color: #757575;}

    h3 {font-weight: bold;}

    .product-text-table {color: #757575;

        .row {border: 1px solid $color-5;
        
            &:last-child {border-top: 0px;}

            .col {border-left: 1px solid $color-5; padding: 17px 25px;
            
                &:first-child {border-left: none;}
            
            }
        
        }

    }

}

.navigation-js {display: flex; margin: 0px; margin-top: 40px; 

    li {flex-grow: 1;

        a {font-size: 18px; padding: 13px 20px; border: 1px solid $color-5; border-left-width: 0px; cursor: pointer; color: $color-9; width: 100%; box-sizing: border-box;}

        &:first-child {

            a {border-left-width: 1px;}

        }

        &.selected {

            a {background-color: $color-1; color: $color-3; border-color: $color-1;}

        }

    }

}

.content-js {

    li {display: none;
    
        &.selected {display: block;}

        > .title {display: none;}
    
    }

    .popupTaksit {padding: 0px;

        .gridTaksitBanka {

            th {padding: 13px 8px;}

            .taksit_banka {flex-wrap: wrap; flex-direction: row; border: none;
            
                img {max-height: 27px; margin-bottom: 10px;}
            
            }

            > tbody {flex-wrap: nowrap; justify-content: space-between;
            
                > tr {width: calc(50% - 15px);}
            
            }

            .gridTaksitSecenek {table-layout: fixed;

                tr {border: 1px solid $color-4;}

                td,
                th {border: none;}
            
                td {padding: 11px 5px;}

                > tbody {

                    > tr:nth-child(2) {color: $color-10;}

                }
            
            }

            .gridHeaderTaksitSecenek {background-color: $color-4;}

        }

        .popupTitleTaksit {display: none;}

        .popupTaksit_lbfAciklama {margin-top: 30px; margin-bottom: 30px;}

    }

}

// bundle

.detail-bundle {padding-top: 80px; padding-left: 25px; box-sizing: border-box;

    .tavsiyeUrun_header {font-size: 25px; font-weight: bold;}

    .product-list > li {width: 100%; text-align: left; min-height: 132px; padding: 0px; margin-bottom: 20px;

        .ems-prd-inner {display: block; padding: 0px;
        
            > * {float: left; width: auto;}
        
        }

        .ems-prd-name {font-size: 14px; text-transform: uppercase; font-weight: 600; height: 40px; overflow: hidden;}

        .ems-prd-image {width: 140px;}

        .product-code-group {width: calc(100% - 140px); padding-left: 20px; box-sizing: border-box;}

        .ems-prd-price {padding-left: 20px; margin-top: -30px;
        
            .pb1::before {margin: 0px;}
        
        }

        .ems-prd-button {margin-left: 20px;}

    }

}

@media screen and (max-width: 1200px) {

    .page-detail {
    
        .detail-content {width: 100%; border-right: none;}

        .detail-bundle {display: none;}

    }
    
    .ems-prd-detail-inner {

        .inner-row-1 {width: 50%;}

        .inner-row-2 {width: 50%;} 

        .inner-row-3 {padding-right: 0px;}

    }

}

@media screen and (max-width: 960px) {

    .page-detail {

        .navigasyon {margin-bottom: 0px; width: calc(100% + 40px); margin-left: -20px; border-bottom: 1px solid $color-4; padding: 0px 20px 5px 20px;
        
            a {}
        
        }

        .urunDetay {margin-top: 20px;}

    }

    .content-js .popupTaksit .gridTaksitBanka > tbody {flex-wrap: wrap;

        > tr {width: 100%;}

    }

}

@media screen and (max-width: 768px) {

    .ems-prd-detail-inner {

        .inner-row-1 {width: 100%;}

        .inner-row-2 {width: 100%; padding-left: 0px;}

    }

    .urunDetay .inner-row-2 {

        a.btnsepeteAt {padding-left: 10px; padding-right: 10px; display: block;}

        .urunDetay_btnSepeteAt {width: 100%;

            table,
            tbody,
            tr,
            th {display: block;}

        }

    }

    .ems-tab-inner {
        
        .navigation-js {display: none;}

    }

    .content-js {

        li {display: block;
        
            > .title {display: block; padding: 12px 20px; color: $color-9; border: 1px solid $color-5; border-radius: 3px; font-weight: 600;}

            > .content {height: 0px; overflow: hidden;}

            &.selected {

                > .title {background-color: $color-1; color: $color-3; border-color: $color-1; margin-bottom: 20px; margin-top: 20px;}

                > .content {height: auto;}

            }
        
        }

    }

}